<h1>Confirmation de votre adresse email</h1>

<p>
	Cliquez sur le lien suivant pour confirmer votre email:
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirmez votre adresse email</a>.
		    Ce Lien expire dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Merci!
</p>
