{% extends 'layout-full-width.html.twig' %}

{% block title %}Confirmez votre email
{% endblock %}

{% block contentFullWidth %}

	<div class="mt-5 p-5 border border-primary d-flex flex-column justify-content-center align-items-center">
		<strong>Un email de confirmation vous à été envoyé...</strong>
	</div>

{% endblock %}
